<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Pet_Diary" connectionString="
			 Data Source=DESKTOP-EEBLL69\SQLEXPRESS;
			 Initial Catalog=Pets_Diary;
			 Integrated Security=True;
			 Encrypt=False;
			 TrustServerCertificate=True;
			 ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>